<?xml version="1.0"?>
<robot name="diff_robot">


<material name="black">
    <color rgba="0 0 0 1.0"/>
</material>

<material name="grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
</material>

<material name="green">
    <color rgba="0.0 0.6 0 1.0"/>
</material>

<material name="white">
    <color rgba="1 1 1 1.0"/>
</material>

<link name="base_footprint"/>

<link name="base_link">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001665" ixy="0.0" ixz="0.0" iyy="0.00441225" iyz="0.0" izz="0.00541625"/>
    </inertial>
    <visual>
        <geometry>  
            <box size="0.75 0.54 0.2"/> 
        </geometry>   
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/> 
        <material name="green"/>
    </visual>
</link>

<link name="left_wheel">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.3"/>
        <inertia ixx="0.00081252" ixy="0.0" ixz="0.0" iyy="0.00081252" iyz="0.0" izz="0.0015"/>
    </inertial>
    <visual>
        <geometry>
            <cylinder radius="0.0625" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
        <material name="black"/>     
    </visual>
    <collision>
        <geometry>
            <cylinder radius="0.0625" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
</link>

<link name="right_wheel">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.3"/>
        <inertia ixx="0.00081252" ixy="0.0" ixz="0.0" iyy="0.00081252" iyz="0.0" izz="0.0015"/>
    </inertial>
    <visual>
        <geometry>
            <cylinder radius="0.0625" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
        <material name="black"/>     
    </visual>
    <collision>
        <geometry>
            <cylinder radius="0.0625" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
</link>

<link name="caster_wheel1">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00016666" ixy="0.0" ixz="0.0" iyy="0.00016666" iyz="0.0" izz="0.00016666"/>
    </inertial>
    <visual>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <material name="black"/>            
    </visual>
    <collision>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
</link>

<link name="caster_wheel2">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00016666" ixy="0.0" ixz="0.0" iyy="0.00016666" iyz="0.0" izz="0.00016666"/>
    </inertial>
    <visual>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <material name="black"/>            
    </visual>
    <collision>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
</link>

<link name="caster_wheel3">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00016666" ixy="0.0" ixz="0.0" iyy="0.00016666" iyz="0.0" izz="0.00016666"/>
    </inertial>
    <visual>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <material name="black"/>            
    </visual>
    <collision>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
</link>

<link name="caster_wheel4">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00016666" ixy="0.0" ixz="0.0" iyy="0.00016666" iyz="0.0" izz="0.00016666"/>
    </inertial>
    <visual>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <material name="black"/>            
    </visual>
    <collision>
        <geometry>
            <sphere radius="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
</link>





<link name="imu_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

  <link name="lidar">
    <visual>
        <geometry>      
            <cylinder radius="0.1" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <material name="white"/>  
    </visual>
    <collision>
        <geometry>
            <cylinder radius="0.05" length="0.05"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
    <inertial>
        <mass value="0.114" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001" />
      </inertial>
</link>





<joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.1 0.1 0.1" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="base_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar"/>
    <origin xyz="0.0 0.0 0.20" rpy="0.0 0.0 0.0"/>
</joint>

<!-- Fixed Joints -->
<joint name="left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="0.0 0.270 0.0" rpy="0 0 0"/>  
</joint>

<joint name="right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="0.0 -0.270 0.0" rpy="0 0 0"/>  
</joint>

<joint name="caster_wheel_joint_Front_right" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel1"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="0.35 0.2 -0.05" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="caster_wheel_joint_Front_left" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel2"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="0.35 -0.2 -0.05" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="caster_wheel_joint_Back_right" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel3"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="-0.35 -0.2 -0.05" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="caster_wheel_joint_Back_left" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel4"/>
    <dynamics damping="0.2" friction="0.1"/>
    <origin xyz="-0.35 0.2 -0.05" rpy="0.0 0.0 0.0"/>
</joint> 

</robot>
